{% include 'head.html' %}

  <head>
    <title>Welcome, {{ name }}</title>
  </head>

    {% include 'nav.html' %}


  <body style="background-color: #222">
    <div style="margin-top:1in" class="container">
        <div class="jumbotron">
            <center>
                <a class="btn btn-secondary btn-lg btn-block" href="results" role="button">Results</a>
                <a class="btn btn-secondary btn-lg btn-block" href="scout" role="button">Pit Scouting</a>
                <a class="btn btn-secondary btn-lg btn-block" href="search" role="button">Search Teams / Events</a>
            </center>
        </div>
    </div>

  </body>
