{% include 'head.html' %}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js" integrity="sha256-nviKEC91moGfyFMMzT31WyNxuAvIIgOSkSGi7K6U7EU=" crossorigin="anonymous"></script>#}
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css" integrity="sha256-+xqVrdbLgHjiKF8ULvcwzQ545r7lCVfOqXlNJCB3XOg=" crossorigin="anonymous" />#}
<html>
    <body style="background-color: #222">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container" style="margin-top: 30px; z-index:2; position:absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success fade in" id="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% include 'nav.html' %}
        <div class="container" style="margin-top: 30px">
            <div class="card border-secondary mb-3">
                <div class="card-header">
                    <h4>Scout Team</h4>
                </div>
                <div class="container">
                    <br>
                    <form id="form" action="{{ request.url.split("://")[0]+"://"+request.url.split("://")[1].split("/")[0] }}/results/add" method="post">
                        <div class="form-group row">
                            <label for="teamNumber" class="col-sm-2 col-form-label">Team Number</label>
                            <div class="col-sm-10">
                                <input type="number" onkeyup="checkNumber('team')" class="form-control" name="number" id="teamNumber" placeholder="192" style="width: 10em">
                                <div style="display: none;" id="numberBlankteam" class="invalid-feedback">Number cannot be blank!</div>
                            </div>
                            <label for="matchNumber" class="col-sm-2 col-form-label">Match Number</label>
                            <div class="col-sm-10">
                                <input type="number" onkeyup="checkNumber('match')" class="form-control" name="match" id="matchNumber" placeholder="0" style="width: 10em">
                                <div style="display: none;" id="numberBlankmatch" class="invalid-feedback">Number cannot be blank!</div>
                            </div>
                            <label for="eventNumber" class="col-sm-2 col-form-label">Event</label>
                            <div class="col-sm-10" onmouseleave="$('#searchResults').html('')">
                                  <div class="alert alert-secondary" id="eventDisplay" style="width: auto">
                                  </div>
                                <input type="text" onfocus="searchEvent()" onkeyup="searchEvent()" class="form-control" id="eventSearchBar" placeholder="Silicon Valley Regional" style="max-width: 30em">
                                <div class="list-group" style="position:absolute; width: 60%;margin-left: 7.5%;z-index: 1000;" id="searchResults">
</div>
                                <input type="hidden" name="eventNumber" value="" id="eventInput">
                                <input type="hidden" name="eventName" value="" id="eventInputName">

                                <div style="display: none;" id="eventBlank" class="invalid-feedback">Event cannot be blank!</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="drivetrain" class="col-sm-2 col-form-label">Drivetrain Type</label>
                            <div class="col-sm-10">
                                <select onchange="newDrivetrain()" class="form-control" name="drivetrain" id="drivetrain">
                                    <option>Swerve</option>
                                    <option>Tank</option>
                                    <option>Slide</option>
                                    <option>Mecanum</option>
                                    <option>Holonomic</option>
                                    <option>Other</option>
                                </select>
                                <input type="text" class="form-control" name="drivetrainOther" id="drivetrainOther" placeholder="Drivetrain type">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="speed" class="col-sm-2 col-form-label">Speed (ft/s)</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" name="speed" id="speed" placeholder="0">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hatch" class="col-sm-2 col-form-label">Hatch Height</label>
                            <div class="col-sm-10">
                                <input id="hatch" name="hatch" type="range" class="custom-range col-md-2" min="0" max="3" value="0" step="1"/>
                                <span id="hatchLabel"><span style="margin-left: 10px;" class="badge badge-dark" id="hatchVal">0/3</span></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hatch" class="col-sm-2 col-form-label">Ball Height</label>
                            <div class="col-sm-10">
                                <input id="ball" name="ball" type="range" class="custom-range col-md-2" min="0" max="3" value="0" step="1"/>
                                <span id="ballLabel"><span style="margin-left: 10px;" class="badge badge-dark" id="ballVal">0/3</span></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="climb" class="col-sm-2 col-form-label">Climber Height</label>
                            <div class="col-sm-10">
                                <input id="climb" name="climb" type="range" class="custom-range col-md-2" min="0" max="3" value="0" step="1"/>
                                <span id="climbLabel"><span style="margin-left: 10px;" class="badge badge-dark" id="climbVal">0/3</span></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="driver" class="col-sm-2 col-form-label">Driver Skill</label>
                            <div class="col-sm-10">
                                <input id="driver" name="driver" type="range" class="custom-range col-md-2" min="0" max="10" value="0" step="1"/>
                                <span id="driverLabel"><span style="margin-left: 10px;" class="badge badge-dark" id="driverVal">0/10</span></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="auton" class="col-sm-2 col-form-label">Autonomous</label>
                            <div class="col-sm-10">
                                <input id="auton" name="auton" type="range" class="custom-range col-md-2" min="0" max="10" value="0" step="1"/>
                                <span id="autonLabel"><span style="margin-left: 10px;" class="badge badge-dark" id="autonVal">0/10</span></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Comments" class="col-sm-2 col-form-label">Comments</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button onclick="submitForm()" class="btn btn-secondary" id="submit_btn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $("#hatch").on("change", function(slideEvt) {
        $("#hatchVal").text( $("#hatch").val() + "/3");
        });
        $("#ball").on("change", function(slideEvt) {
        $("#ballVal").text( $("#ball").val() + "/3");
        });
        $("#climb").on("change", function(slideEvt) {
        $("#climbVal").text( $("#climb").val() + "/3");
        });
        $("#driver").on("change", function(slideEvt) {
        $("#driverVal").text( $("#driver").val() + "/10");
        });
        $("#auton").on("change", function(slideEvt) {
        $("#autonVal").text( $("#auton").val() + "/10");
        });



        $("#drivetrainOther").hide()
        function newDrivetrain() {
            if ($("#drivetrain").val() == "Other") {
              $("#drivetrainOther").show()
            } else {
               $("#drivetrainOther").hide()
            }
        }


        function checkEvent() {
            if ($('#eventInput').val() == "") {
                $('#eventBlank').show();
                $("#submit_btn").attr("disabled", "disabled");
                return false;
            } else {
                $('#eventBlank').hide();
                $("#submit_btn").removeAttr("disabled");
                return true;
            }
        }
        function submitForm() {
            if ((checkNumber('team') && checkNumber('match')) && checkEvent()) {
                document.getElementById("form").submit()
            }
        }
        function checkNumber(m) {
            if ($("#"+m+"Number").val() == "") {
                $('#numberBlank'+m).show();
                $("#submit_btn").attr("disabled", "disabled");
                $("#"+m+"Number").addClass("is-invalid");
                return false;
            } else {
                $('#numberBlank'+m).hide();
                $("#submit_btn").removeAttr("disabled");
                $("#"+m+"Number").removeClass("is-invalid");
                return true;
            }
        }

                $("#alert").fadeTo(5000, 500).slideUp(500, function(){
        $("#alert").slideUp(500);
        });

        var events = [];
        $.ajax({
            url: "https://www.thebluealliance.com/api/v3/events/2019/simple",
            headers: {"X-TBA-Auth-Key": "1P043y5bGx3Rw0izZO20VjyIfU9A0e9bzdpoDzjY8wHah294RGmA7hnk2WGA1N6M"},
            success: function (e) {
                events = e;
            }
        });
        $("#eventDisplay").hide();
        function deleteCurrentEvent() {
            $("#eventSearchBar").show();
            $("#eventDisplay").hide();
            $("#eventInput").val("");
            $("#eventInputName").val("");
        }
        function selectEvent(key, name) {
            $("#eventDisplay").html(name + "<button type=\"button\" class=\"close\" onclick=\"deleteCurrentEvent()\">\n" +
                                            "<span aria-hidden=\"true\">&times;</span>\n" +
                                            "</button>").show();
            $("#eventSearchBar").hide().val("");
            $("#eventInput").val(key);
            $("#eventInputName").val(name);
            checkEvent();
        }
        function searchEvent() {
            $("#searchResults").html("");
            var found = events.filter(function (element) {
                 return element.name.toLowerCase().includes($("#eventSearchBar").val().toLowerCase());
             });
            for (var i=0;i<10;i++){
                if (i > found.length) {
                    break;
                }
                $("#searchResults").append('<btn class="list-group-item list-group-item-action" onclick="selectEvent(\''+found[i].key+'\', \''+found[i].name+'\')">'+found[i].name+'</btn>')
            }
        }


    </script>
</html>